.accordionRFI {
    margin: 0 3px;
    padding: 0 10px;
    font-size: 14px;
    line-height: .5em;
    height: 100vh;
    label {
        color: $medium-gray;
        font-weight: bold;
        font-size: .9em;
    }
    li {
        line-height: .5em;
    }
    .wait-response,
    .wait-confirmation,
    .all-projects {
        color: lighten($primary-color, 34);
        text-align: left;
        font-weight: bold;
        padding: $global-menu-padding;
        background: darken($primary-color, 40);
        border-bottom: 1px solid darken($primary-color, 36);
        margin: 2px;
    }
    .accordion-item {
        color: $white;
        background: darken($primary-color, 30);
        border: none;
        border-bottom: 1px solid darken($primary-color, 20);
    }
    .accordion-content {
        background: darken($primary-color, 25);
        color: $white;
        font-size: 1em;
        padding-left: 20px;
        border: none;
        &:hover {
            color: lighten($primary-color, 22);
            background: darken($primary-color, 25);
        }
        &:focus {
            color: lighten($primary-color, 22);
            background: darken($primary-color, 25);
        }
        a {
            color: lighten($primary-color, 34);
        }
    }
    .accordion-title {
        color: lighten($primary-color, 34);
        background: darken($primary-color, 35);
        border: none;
        font-weight: bold;
        &:hover {
            color: lighten($primary-color, 22);
            background: darken($primary-color, 25);
        }
        &:focus {
            color: lighten($primary-color, 22);
            background: darken($primary-color, 25);
        }
    }
    .has-action {
        display: inline;
        margin-right: 5px;
        font-size: 12px;
        background: darken($alert-color, 20);
        color: $white;
        text-align: center !important;
        border-radius: 6px;
        width: 24px;
        font-weight: bold;
        padding: 4px 10px;
    }
    .wait-response,
    .wait-confirmation {
        .has-action {
            float: right;
        }
    }
    .is-active {
        background: darken($primary-color, 10%);
    }
}