<form style="margin-top: 20px, padding-bottom: 20px;">
    <section class="grid-x grid-padding-x">
        <div class="small-6 cell"> <a class="clear secondary right action-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download all</a>
            <label>Uploaded document</label>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
        </div>
    </section>
    <div class="end-form">
        <div class="grid-x grid-padding-x">
            <div class="small-12 center cell"> <a class="success button disabled">Accept</a> <a class="alert button">Reject</a> </div>
        </div>
    </div>
    <section class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <h3>Justification for rejection</h3>
            <label>Provide reason for rejection and suggest changes:
                <textarea name="Text1" cols="40" rows="5"></textarea>
            </label>
        </div>
        <div class="end-form">
            <div class="grid-x grid-padding-x">
                <div class="small-6"><a class="hollow secondary button left">Cancel</a></div>
                <div class="small-6">
                    <div class="button-group"> <a class="hollow secondary button">Forward</a> <a class="alert button">Send Rejection</a> </div>
                </div>
            </div>
        </div>
    </section>
</form>