<form>
    <div class="grid-x grid-padding-x">
        <label class="small-12 cell">Title
            <input disabled type="text" placeholder="RFI title"> </label>
        <label class="small-4 cell">Plant <a class="right clear tool"><i class="fa fa-plus" aria-hidden="true"></i> Add Plant</a>
            <select disabled>
                <option value="" class="secondary">Select </option>
                <option value="discipline1">Plant 1</option>
                <option value="discipline2">Plant 2</option>
                <option value="discipline3">Plant 3</option>
            </select>
        </label>
        <label class="small-4 cell">Discipline
            <select disabled>
                <option value="" class="secondary">Select</option>
                <option value="discipline1">Discipline 1</option>
                <option value="discipline2">Discipline 2</option>
                <option value="discipline3">Discipline 3</option>
            </select>
        </label>
        <label class="small-4 cell">Tag
            <input disabled type="text" placeholder="Tag"> </label>
        <label class="small-4 cell">RFI number
            <input disabled type="text" placeholder="123-456"> </label>
        <label class="small-4 cell">Assigned to
            <input disabled type="text" placeholder="John Smith"> </label>
        <label class="small-12 cell">Describe problem or requested info
            <textarea disabled name="Text1" cols="40" rows="5" placeholder="Enter comment"></textarea>
        </label>
        <label class="small-12 cell">Describe recomendation, proposal or suggested mitigation
            <textarea disabled name="Text1" cols="40" rows="5" placeholder="Enter comment"></textarea>
        </label>
        <label class="small-4 cell">Priority
            <select disabled>
                <option value="high-priority"><i class="fa fa-circle alert" aria-hidden="true"></i> High Priority</option>
                <option value="low-priority"><i class="fa fa-circle warning" aria-hidden="true"></i> Medium Priority</option>
            </select>
        </label>
        <label class="small-8 cell">Priority justification
            <textarea disabled name="Text1" cols="40" rows="3" placeholder="Enter comment"></textarea>
        </label>
        <div class="small-8 cell">
            <label>Uploaded document
                <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash" aria-hidden="true"></i></a> </div>
            </label>
        </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-10 cell">
                    <h4>Accept or Reject RFI</h4> <span>Does this RFI gives a clear description of the problem?
            <div class="button-group"> <a class="secondary button">Yes</a> <a class="alert button">No</a> </div>
                </span> </div>
            </section>
        </div>
        <div class="form-area">
            <h4>Response</h4>
            <p>by John Smith / Jul 23, 2017 13:01 </p>
            <div class="grid-x grid-padding-x">
                <label class="small-12 cell">Response
                    <textarea name="Response1" cols="40" rows="5" placeholder="Enter comment"></textarea>
                </label>
            </div>
        </div>
        <div class="end-form">
            <div class="button-group"> <a class="hollow secondary button">Cancel</a> <a class="alert button">Reject RFI</a> </div>
        </div>
    </div>
</form>