<form style="margin-top: 20px, padding-bottom: 20px;">
    <section class="grid-x grid-padding-x">
        <div class="small-6 cell">
            <label>Add attachments (Optional)</label>
            <div class="upload-dropzone"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Drop files here
                <br><span class="small">or click to select files</span></div>
            <label>Uploaded document</label>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash" aria-hidden="true"></i></a> </div>
        </div>
        <div class="small-6 cell">
            <label>Assigned to:</label>
            <table style="width:100%">
                <tr>
                    <th>Asignee</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td class="text-left">John Smith</td>
                    <td class="text-left">john@smith.com</td>
                </tr>
            </table>
            <div class="small-6 center cell"> <a class="primary button hollow secondary">Additional distribution</a> </div>
            <div class="gray-panel">
                <form>
                    <div class="small-6 cell">
                        <a class="right"> <i class="fa fa-times-circle"></i></a>
                        <h6>Additional distribution</h6>
                        <label class="small-6 cell">Name
                            <input type="text"> </label>
                        <label class="small-6 cell">Email
                            <input type="text"> </label>
                    </div>
                    <div class="small-6 center cell"> <a class="primary button">Add</a> </div>
                </form>
            </div>
        </div>
    </section>
    <div class="end-form">
        <div class="grid-x grid-padding-x">
            <div class="small-6"><a class="hollow secondary button left">Cancel</a></div>
            <div class="small-6">
                <div class="button-group"> <a class="hollow secondary button">Save Draft</a> <a class="success button">Submit RFI</a> </div>
            </div>
        </div>
    </div>
</form>