<form>
    <div class="grid-x grid-padding-x">
        <label class="small-12 cell">Title
            <input type="text" placeholder="RFI title"> </label>
        <label class="small-4 cell">Plant <a class="right clear tool"><i class="fa fa-plus" aria-hidden="true"></i> Add Plant</a>
            <select>
                <option value="" class="secondary">Select </option>
                <option value="discipline1">Plant 1</option>
                <option value="discipline2">Plant 2</option>
                <option value="discipline3">Plant 3</option>
            </select>
        </label>
        <label class="small-4 cell">Discipline
            <select>
                <option value="" class="secondary">Select</option>
                <option value="discipline1">Discipline 1</option>
                <option value="discipline2">Discipline 2</option>
                <option value="discipline3">Discipline 3</option>
            </select>
        </label>
        <label class="small-4 cell">Tag #
            <input type="text" placeholder="Tag"> </label>
        <label class="small-4 cell">Client defined
            <input disabled type="text" placeholder="Value 1"> </label>
        <label class="small-4 cell">Client defined 2
            <input disabled type="text" placeholder="Value 2"> </label>
        <label class="small-12 cell">Describe problem or requested info
            <textarea name="Text1" cols="40" rows="5" placeholder="Enter comment"></textarea>
        </label>
        <label class="small-12 cell">Describe recomendation, proposal or suggested mitigation
            <textarea name="Text1" cols="40" rows="5" placeholder="Enter comment"></textarea>
        </label>
        <label class="small-4 cell">Select priority
            <select>
                <option value="high-priority"><i class="fa fa-circle alert" aria-hidden="true"></i> High Priority</option>
                <option value="low-priority"><i class="fa fa-circle warning" aria-hidden="true"></i> Medium Priority</option>
            </select>
        </label>
        <label class="small-8 cell">Justify priority
            <textarea name="Text1" cols="40" rows="3" placeholder="Enter comment"></textarea>
        </label>
        <div class="end-form">
            <div class="grid-x grid-padding-x">
                <div class="small-6"><a class="hollow secondary button left">Cancel</a></div>
                <div class="small-6">
                    <div class="button-group"> <a class="hollow secondary button">Save Draft</a> <a class="success button">Generate RFI</a> </div>
                </div>
            </div>
        </div>
    </div>
</form>