<form style="margin-top: 20px, padding-bottom: 20px;">
    <section class="grid-x grid-padding-x">
        <div class="small-6 cell"> <a class="clear secondary right action-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download all</a>
            <label>Uploaded document</label>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
        </div>
    </section>
    <div class="end-form">
        <div class="grid-x grid-padding-x">
            <div class="small-12 center cell"> <a class="hollow secondary button">Forward</a> <a class="success button">Accept</a> <a class="alert button disabled">Reject</a> </div>
        </div>
    </div>
    <section class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <h3>Response</h3>
            <label>Enter response details:
                <textarea name="Text1" cols="40" rows="5"></textarea>
            </label>
        </div>
        <div class="small-12 cell">
            <h3>Action management</h3> </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12">
                    <H5>RFI causes change on drawing?<div class="switch">
  <input class="switch-input" id="draw-req" type="checkbox" name="exampleSwitch">
  <label class="switch-paddle" for="draw-req">
     <span class="switch-active" aria-hidden="true">Yes</span> <span class="switch-inactive" aria-hidden="true">No</span> </label>
                </div></H5> </div>
                <div class="small-6 cell gray-panel">
                    <section class="grid-x grid-padding-x">
                        <label class="small-8 cell">List impacted drawing #:
                            <input type="text"> </label>
                        <label class="small-4 cell">Revision #:
                            <input type="text"> </label>
                        <label class="small-12 cell">Comments:
                            <textarea name="Text1" cols="40" rows="3"></textarea>
                        </label>
                        <div class="small-12 cell center"> <a class="button">Add</a></div>
                    </section>
                </div>
                <div class="small-6 cell">
                    <h5>List of impacted drawings</h5>
                    <table style="width:100%">
                        <tr>
                            <th>Drawing_#</th>
                            <th>Rev_#</th>
                            <th>Comment</th>
                            <th>Tool</th>
                        </tr>
                        <tr>
                            <td>32423</td>
                            <td>1</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and x industry.</td>
                            <td><a class="button clear secondary"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="grid-x grid-padding-x">
                <div class="small-12">
                    <H5>Follow up documents required?<div class="switch">
  <input class="switch-input" id="docs-req" type="checkbox" name="exampleSwitch">
  <label class="switch-paddle" for="docs-req">
     <span class="switch-active" aria-hidden="true">Yes</span> <span class="switch-inactive" aria-hidden="true">No</span> </label>
                </div></H5> </div>
                <div class="small-6 cell gray-panel">
                    <section class="grid-x grid-padding-x">
                        <label class="small-10 cell">List required document:
                            <input type="text"> </label>
                        <label class="small-12 cell">Comments:
                            <textarea name="Text1" cols="40" rows="3"></textarea>
                        </label>
                        <div class="small-12 cell center"> <a class="button">Add</a></div>
                    </section>
                </div>
                <div class="small-6 cell">
                    <h5>List of required documents</h5>
                    <table style="width:100%">
                        <tr>
                            <th>Document</th>
                            <th>Comment</th>
                            <th>Tool</th>
                        </tr>
                        <tr>
                            <td>32423</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and x industry.</td>
                            <td><a class="button clear secondary"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="grid-x grid-padding-x">
                <div class="small-12">
                    <H5>Assign other actions?<div class="switch">
  <input class="switch-input" id="act-req" type="checkbox" name="exampleSwitch">
  <label class="switch-paddle" for="act-req">
     <span class="switch-active" aria-hidden="true">Yes</span> <span class="switch-inactive" aria-hidden="true">No</span> </label>
                </div></H5> </div>
                <div class="small-6 cell gray-panel">
                    <section class="grid-x grid-padding-x">
                        <label class="small-12 cell">Enter action:
                            <textarea name="Text1" cols="40" rows="3"></textarea>
                        </label>
                        <div class="small-12 cell center"> <a class="button">Add</a></div>
                    </section>
                </div>
                <div class="small-6 cell">
                    <h5>List of actions assigned</h5>
                    <table style="width:100%">
                        <tr>
                            <th>Action</th>
                            <th>Tool</th>
                        </tr>
                        <tr>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and x industry.</td>
                            <td><a class="button clear secondary"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="end-form">
            <div class="grid-x grid-padding-x">
                <div class="small-6"><a class="hollow secondary button left">Cancel</a></div>
                <div class="small-6">
                    <div class="button-group"> <a class="hollow secondary button">Forward</a> <a class="success button">Submit Response</a> </div>
                </div>
            </div>
        </div>
    </section>
</form>