<form style="margin-top: 30px, padding-bottom: 20px;">
    <section class="grid-x grid-padding-x" style="margin-bottom: 20px;">
        <div class="small-6 cell"> <a class="clear secondary right action-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download all</a>
            <label>Uploaded document</label>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
        </div>
        <div class="small-6 cell">
            <label>Assigned to:</label>
            <table style="width:100%">
                <tr>
                    <th>Asignee</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td class="text-left">John Smith</td>
                    <td class="text-left">john@smith.com</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <h3>Response</h3>
            <p> <b>Response details</b>
                <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s. </p>
        </div>
        <div class="small-12 cell">
            <h3>Action management</h3> </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h5>List of impacted drawings</h5>
                    <table style="width:100%">
                        <tr valign="top">
                            <th>Drawing #</th>
                            <th>Rev #</th>
                            <th class="max-250">Comment</th>
                            <th>Completed</th>
                            <th>Confirmed</th>
                            <th> </th>
                        </tr>
                        <tr valign="top" class="tr-rejected">
                            <td>32423</td>
                            <td>1</td>
                            <td class="text-left max-250">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check" aria-hidden="true"></i> Completed</span></td>
                            <td><span class="alert"><i class="fa fa-times" aria-hidden="true"></i> Rejected</span></td>
                            <td><i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                        </tr>
                        <tr valign="top">
                            <td>32423</td>
                            <td>1</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check" aria-hidden="true"></i> Completed</span></td>
                            <td><a class="button secondary hollow small">Review</a></td>
                            <td><i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h5>List of required documents</h5>
                    <table style="width:100%">
                        <tr valign="top">
                            <th>Documents</th>
                            <th class="max-250">Comment</th>
                            <th>Completed</th>
                            <th>Confirmed</th>
                            <th> </th>
                        </tr>
                        <tr class="tr-active" valign="top">
                            <td>32423</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check" aria-hidden="true"></i> Completed</span></td>
                            <td><a class="button secondary hollow small disabled">Review</a></td>
                            <td><i class="fa fa-chevron-up left" aria-hidden="true"></i></td>
                        </tr>
                        <tr class="tr-panel" valign="top">
                            <td colspan="5" class="text-left">
                                <section class="grid-x grid-padding-x">
                                    <div class="small-12 cell">
                                        <h4>Review closed action</h4></div>
                                    <div class="small-6 cell">
                                        <label>Uploaded document</label>
                                        <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash right" aria-hidden="true"></i></a> </div>
                                    </div>
                                    <label class="small-12 cell">Add comments:
                                        <textarea name="Text1" cols="40" rows="3"></textarea>
                                    </label>
                                    <div class="small-12 cell center">
                                        <div> <a class="success button disabled">Comfirm</a> <a class="alert button">Reject</a></div>
                                    </div>
                                </section>
                                <section class="grid-x grid-padding-x">
                                    <div class="small-12 cell">
                                        <h4 class="alert">Justification for rejection</h4></div>
                                    <label class="small-12 cell">Provide reason for rejection and suggest changes:
                                        <textarea name="Text1" cols="40" rows="3"></textarea>
                                    </label>
                                    <div class="small-12 cell">
                                        <div><a class="secondary hollow button">Cancel</a> <a class="alert button right">Confirm rejection</a></div>
                                    </div>
                                </section>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td>32423</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check" aria-hidden="true"></i> Completed</span></td>
                            <td><a class="button secondary hollow small">Review</a></td>
                            <td><i class="fa fa-chevron-down left" aria-hidden="true"></i></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h5>Other actions</h5>
                    <table style="width:100%">
                        <tr valign="top">
                            <th>Other actions</th>
                            <th>Completed</th>
                            <th>Confirmed</th>
                            <th></th>
                        </tr>
                        <tr valign="top">
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check" aria-hidden="true"></i> Completed</span></td>
                            <td><a class="button secondary hollow small">Review</a></td>
                            <td><i class="fa fa-chevron-down left" aria-hidden="true"></i></td>
                        </tr>
                        <tr valign="top">
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check" aria-hidden="true"></i> Completed</span></td>
                            <td><a class="button secondary hollow small">Review</a></td>
                            <td><i class="fa fa-chevron-down left" aria-hidden="true"></i></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="end-form">
            <div class="grid-x grid-padding-x">
                <div class="small-6"><a class="hollow secondary button left">Cancel</a></div>
                <div class="small-6">
                    <div class="button-group"> <a class="hollow secondary button">Save Draft</a> <a class="success button">Submit</a> </div>
                </div>
            </div>
        </div>
    </section>
</form>