<form style="margin-top: 30px, padding-bottom: 20px;">
    <section class="grid-x grid-padding-x" style="margin-bottom: 20px;">
        <div class="small-6 cell"> <a class="clear secondary right action-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download all</a>
            <label>Uploaded document</label>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
        </div>

    </section>
    <section class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <h3>Response</h3>
            <p> <b>Response details</b>
                <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s. </p>
        </div>
        <div class="small-12 cell">
            <h3>Action management</h3> </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h5>List of impacted drawings</h5>
                    <table style="width:100%">
                        <tr valign="top">
                            <th>Drawing_#</th>
                            <th>Rev_#</th>
                            <th >Comment</th>
                            <th>Completed</th>
                            <th>Confirmed</th>
                        </tr>
                        <tr valign="top" class="tr-completed">
                            <td>32423</td>
                            <td>1</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><span class="success"><i class="fa fa-check left" aria-hidden="true"></i> Completed</span></td>
                            <td> </td>
                        </tr>
                        <tr valign="top">
                            <td>32423</td>
                            <td>1</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><a class="button secondary hollow small">Close action</a></td>
                            <td> </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h5>List of required documents</h5>
                    <table style="width:100%">
                        <tr valign="top">
                            <th>Documents</th>
                            <th class="max-250">Comment</th>
                            <th>Completed</th>
                            <th>Confirmed</th>
                        </tr>
                        <tr class="tr-active" valign="top">
                            <td>32423</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><a class="button secondary hollow small disabled">Close action</a></td>
                            <td> </td>
                        </tr>
                        <tr class="tr-panel" valign="top">
                            <td colspan="4">
                                <section class="grid-x grid-padding-x">
                                    <div class="small-12 cell">
                                        <h4>Closing action</h4></div>
                                    <div class="small-6 cell">
                                        <label>Upload reference docuement</label>
                                        <div class="upload-dropzone"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Drop files here
                                            <br><span class="small">or click to select files</span></div>
                                    </div>
                                    <div class="small-6 cell">
                                        <label>Uploaded document</label>
                                        <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-trash right" aria-hidden="true"></i></a> </div>
                                    </div>
                                    <label class="small-12 cell">Add comments:
                                        <textarea name="Text1" cols="40" rows="3"></textarea>
                                    </label>
                                    <div class="small-12 cell right">
                                        <div class="button-group"> <a class="hollow secondary button">Cancel Draft</a> <a class="primary button">Close action</a></div>
                                    </div>
                                </section>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td>32423</td>
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><a class="button secondary hollow small">Close action</a></td>
                            <td> </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="form-area">
            <section class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h5>Other actions</h5>
                    <table style="width:100%">
                        <tr valign="top">
                            <th>Other actions</th>
                            <th>Completed</th>
                            <th>Confirmed</th>
                        </tr>
                        <tr valign="top">
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><a class="button secondary hollow small">Close action</a></td>
                            <td> </td>
                        </tr>
                        <tr valign="top">
                            <td class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td><a class="button secondary hollow small">Close action</a></td>
                            <td> </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="end-form">
            <div class="grid-x grid-padding-x">
                <div class="small-6"><a class="hollow secondary button left">Cancel</a></div>
                <div class="small-6">
                    <div class="button-group"> <a class="hollow secondary button">Save Draft</a> <a class="success button">Save</a> </div>
                </div>
            </div>
        </div>
    </section>
</form>