<form>
    <div class="grid-x grid-padding-x">
        <p class="small-6 cell"> <b>Plant:</b> 33342
            <br/> <b>Discipline:</b> Piping
            <br/> <b>Tag:</b> D-01-2 </p>
        <p class="small-6 cell"> <b>Client defined:</b> Value 1
            <br/> <b>Client defined:</b> Value 2 </p>
        <div class="small-12 cell">
            <p><b>Problem description or requested info:</b>
                <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
        <div class="small-12 cell">
            <p><b>Recomendation, proposal or suggested mitigation:</b>
                <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
        <div class="small-12 cell">
            <h5 class="alert">Hight Priority</h5>
            <p><b>Priority justification:</b>
                <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
    </div>
</form>