<form style="margin-top: 20px, padding-bottom: 20px;">
    <section class="grid-x grid-padding-x">
        <div class="small-6 cell"> 
            <a class="clear secondary right action-button"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download all</a>
            <label>Uploaded document</label>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
            <div class="uploaded-docs"> <a class="button clear secondary">RFI-33323232-3.pdf <i class="fa fa-cloud-download right" aria-hidden="true"></i></a> </div>
        </div>
        <div class="small-6 cell">
            <div class="gray-panel forward-panel">
                <form>
                    <div class="small-6 cell">
                        <a class="right"> <i class="fa fa-times-circle"></i></a>
                        <h6>Forward to:</h6>
                        <label class="small-6 cell">Name:
                            <input type="text"> </label>
                        <label class="small-6 cell">Email:
                            <input type="text"> </label>
                        <label class="small-6 cell">Phone (Optional):
                            <input type="text"> </label>
                        <label class="small-6 cell">Comments:
                            <textarea name="Text1" cols="40" rows="5"></textarea></label>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 center"> <a class="hollow secondary button">Cancel</a> <a class="button">Forward</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="end-form">
        <div class="grid-x grid-padding-x">
            <div class="small-12 center cell"> <a class="hollow secondary button">Forward</a> <a class="success button">Accept</a> <a class="alert button">Reject</a> </div>
        </div>
    </div>
</form>