<div class="top-bar fixed rejected-bar">
    <div class="top-bar-left">
        <h1>Rejected RFI rejected_bar</h1></div>
    <div class="top-bar-right"><a href="#" class="button clear"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
        <button class="button clear close-form" data-close aria-label="Close modal" type="button"> <span aria-hidden="true">&times;</span> </button>
        <p>by Tim Williams / Jul 21, 2017 13:01</p>
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>