<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 ">
            <p class="right">Report as of Sep 3, 2017 (18:06 MST)
                <p>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-4"> {{> chart-KPI-month}}</div>
        <div class="cell small-4"> {{> chart-KPI-code}}</div>
        <div class="cell small-4"> {{> chart-KPI-average}}</div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-4"> {{> chart-KPI-discipline}}</div>
        <div class="cell small-4"> {{> chart-KPI-time-discipline}}</div>
        <div class="cell small-4"> {{> chart-KPI-time-individual}}</div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <h4>Top overdue RFIs</h4> {{> KPI-grid}} </div>
    </div>--></div>