<div class="table-scroll">
    <table id="example" class="display " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>RFI #</th>
                <th>Title</th>
                <th>Code</th>
                <th>Priority</th>
                <th>Discipline</th>
                <th>Date submitted</th>
                <th>Date responded</th>
                <th>Responded by</th>
                <th>Action required</th>
                <th>Action completed</th>
                <th>Action confirmed</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3829383</td>
                <td>RFI382938A33</td>
                <td>A2</td>
                <td><span class="alert">High</span></td>
                <td>Pipping</td>
                <td>2011/12/12</td>
                <td>2011/12/12</td>
                <td>John Smith</td>
                <td>Yes</td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td class="td-tool"><a class="button clear"><i class="fa fa-pencil" aria-hidden="true"></i></a><a class="button clear"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </td>
            </tr>
            <tr>
                <td>3829383</td>
                <td>RFI382938A33</td>
                <td>A2</td>
                <td><span class="alert">High</span></td>
                <td>Pipping</td>
                <td>2011/12/12</td>
                <td>2011/12/12</td>
                <td>John Smith</td>
                <td>Yes</td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td class="td-tool"><a class="button clear"><i class="fa fa-pencil" aria-hidden="true"></i></a><a class="button clear"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </td>
            </tr>
            <tr>
                <td>3829383</td>
                <td>RFI382938A33</td>
                <td>A2</td>
                <td><span class="alert">High</span></td>
                <td>Pipping</td>
                <td>2011/12/12</td>
                <td>2011/12/12</td>
                <td>John Smith</td>
                <td>Yes</td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td class="td-tool"><a class="button clear"><i class="fa fa-pencil" aria-hidden="true"></i></a><a class="button clear"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </td>
            </tr>
            <tr>
                <td>3829383</td>
                <td>RFI382938A33</td>
                <td>A2</td>
                <td><span class="alert">High</span></td>
                <td>Pipping</td>
                <td>2011/12/12</td>
                <td>2011/12/12</td>
                <td>John Smith</td>
                <td>Yes</td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td class="td-tool"><a class="button clear"><i class="fa fa-pencil" aria-hidden="true"></i></a><a class="button clear"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </td>
            </tr>
            <tr>
                <td>3829383</td>
                <td>RFI382938A33</td>
                <td>A2</td>
                <td><span class="alert">High</span></td>
                <td>Pipping</td>
                <td>2011/12/12</td>
                <td>2011/12/12</td>
                <td>John Smith</td>
                <td>Yes</td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-circle success" aria-hidden="true"></i></td>
                <td class="td-tool"><a class="button clear"><i class="fa fa-pencil" aria-hidden="true"></i></a><a class="button clear"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </td>
            </tr>
        </tbody>
    </table>
</div>