<div class="grid-x">
    <div class="medium-5 cell"> {{> breadcrumbs}}</div>
    <div class="medium-7 cell">
        <ul class="menu right">
            <li><a href="#" class="secondary clear button"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export log</a></li>
            <li><a href="#" class="secondary clear button"><i class="fa fa-print" aria-hidden="true"></i> Print</a></li>
            <li><a href="#" class=" button small success white" data-toggle="offCanvasRFI"><i class="fa fa-plus" aria-hidden="true" ></i> New RFI</a></li>
        </ul>
    </div>
</div>