<!--<div class="second-bar grid-x grid-padding-y">
    <div class="hide-for-small-only medium-4">
        <h6>RFI Dashboard</h6> </div>
    <div class="right small-12 medium-offset-4 medium-4">
        <div class="input-group input-group-rounded">
            <input class="input-group-field search" type="search" placeholder="Search">
            <div class="input-group-button"> <a type="submit" class="inside-form button clear secondary"><i class="fa fa-search" aria-hidden="true"></i></a></div>
        </div>
    </div>
</div>-->