<div class="fixed">
    <nav class="top-bar" id="admin-menu">
        <button class="button secondary show-for-small-only" data-toggle="offCanvas"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <nav class="top-bar-left">
            <ul class="menu">
                <li>
                    <div class="logo"> <a href="">Logo</a> </div>
                </li>
                <li>
                    <h5>RFI Dashboard</h5></li>
            </ul>
        </nav>
        <div class=" right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <div class="input-group input-group-rounded">
                        <input class="input-group-field search" type="search" placeholder="Search">
                        <div class="input-group-button"> <a type="submit" class="inside-form button primary"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                    </div>
                </li>
                <li><a href="#0"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="hide-for-small-only">Help</span></a></li>
                <li class="has-submenu"> <a href="#0"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="hide-for-small-only">John Smith </span></a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="#0">My Profile</a></li>
                        <li><a href="#0">Settings</a></li>
                        <li><a href="#0">My Team</a></li>
                        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>